* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none !important;
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-width: 960px;
  min-height: 540px;
  border: 0;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  font-size: 14px;
  overflow: hidden;
  position: relative;
}

.layout-container {
  width: 100%;
  height: 100%;
  color: var(--layout-color);
  background: var(--layout-bg);

  .layout-aside {
    background: var(--layout-aside-bg);
    box-shadow: 2px 0 6px rgb(0 21 41 / 1%);
    height: inherit;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    overflow-x: hidden !important;
    transition: width .5s ease;
    border-right: 1px solid var(--layout-aside-border-right-color);

    .el-scrollbar__view {
      overflow: hidden;
    }
  }

}

.layout-logo-container {
  .layout-logo {
    width: var(--layout-logo-width);
    height: var(--layout-logo-height);
    color: var(--layout-logo-color, var(--el-color-primary));
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgb(0 21 41 / 2%) 0 1px 4px;
    font-size: 16px;
    cursor: pointer;
    animation: logoAnimation 0.3s ease-in-out;

    span {
      white-space: nowrap;
      display: inline-block;
    }

    &:hover {
      color: var(--layout-logo-hover-color, var(--el-color-primary-light-3));
    }

    &-medium-img {
      width: 20px;
      margin-right: 5px;
    }
  }

  .layout-logo-size {
    width: 100%;
    height: var(--layout-logo-height);
    color: var(--layout-logo-color, var(--el-color-primary));
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    animation: logoAnimation 0.3s ease-in-out;

    &-img {
      width: 20px;
      margin: auto;
    }

    &:hover {
      color: var(--layout-logo-hover-color, var(--color-primary-light-5));
      img {
        animation: logoAnimation 0.3s ease-in-out;
      }
    }
  }
}


/* 顶栏 用户按钮样式*/
.layout-nav-bars-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  color: var(--layout-nav-bars-color, var(--layout-color));
  background: var(--layout-nav-bars-bg);
  border-bottom: 1px solid var(--layout-nav-bars-border-color);
  /**logo 展示*/
  .layout-nav-bars-logo-bar {
    width: var(--layout-logo-width);
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  /**展开收缩按钮*/
  .layout-nav-bars-collapse-bar {
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }

  /**面包屑导航*/
  .layout-nav-bars-breadcrumb-bar {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
  }

  /**横向菜单*/
  .layout-nav-bars-menu-bar {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.layout-nav-bars-user-bar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.layout-nav-bars-user-bar-icon {
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 5px !important;
  cursor: pointer;

  .icon {
    margin: 0 10px !important;
  }

  &:hover {
    color: var(--layout-nav-bars-hover-color);
    background: var(--layout-nav-bars-hover-bg-color);

    .icon {
      animation: selected 0.5s ease-in-out;
    }
  }
}

/*布局主题设置*/
.layout-theme-skin-setings {
  .el-divider {
    background-color: rgb(199, 199, 199);
  }

  .layout-theme-skin-setings-scrollbar {
    height: calc(100vh - 50px);
    padding: 0 15px;

    :deep(.el-scrollbar__view) {
      overflow-x: hidden !important;
    }
  }

  &-flex {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    &-label {
      flex: 1;
      color: var(--el-text-color-primary);
    }
  }
}


.flex {
  display: flex;
}

.flex-auto {
  flex: 1;
  overflow: hidden;
}

.flex-center {
  @extend .flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.flex-margin {
  margin: auto;
}

.flex-warp {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin: 0 -5px;

  .flex-warp-item {
    padding: 5px;

    .flex-warp-item-box {
      width: 100%;
      height: 100%;
    }
  }
}

/* 外边距、内边距全局样式
------------------------------- */
@for $i from 1 through 35 {
  .mt#{$i} {
    margin-top: #{$i}px !important;
  }
  .mr#{$i} {
    margin-right: #{$i}px !important;
  }
  .mb#{$i} {
    margin-bottom: #{$i}px !important;
  }
  .ml#{$i} {
    margin-left: #{$i}px !important;
  }
  .pt#{$i} {
    padding-top: #{$i}px !important;
  }
  .pr#{$i} {
    padding-right: #{$i}px !important;
  }
  .pb#{$i} {
    padding-bottom: #{$i}px !important;
  }
  .pl#{$i} {
    padding-left: #{$i}px !important;
  }
}


