// 默认样式修改
.el-menu .el-menu-item.is-active{
  background: var(--layout-nav-bars-hover-bg-color, var(--el-color-primary-light-8));
}

.el-menu-item.is-active {
  color: var(--layout-nav-bars-border-color);
}

.el-drawer .el-drawer__header {
  padding: 0 15px!important;
  height: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 0!important;
  border-bottom: 1px solid var(--el-border-color);
  color: var(--el-text-color-primary);
}

.el-drawer .el-drawer__body {
  width: 100%;
  padding: 0;
  overflow: auto;
}