:root{
  --el-color-primary: #38BFD4;
  // 头部高度 高
  --layout-header-height: 50px;

  // 侧边栏 背景色
  --layout-aside-bg: #545c64;
  --layout-aside-menu-text-color: #ffffff;

  // 侧边栏 宽度
  --layout-aside-width: 220px;
  --layout-aside-collapse-width: 64px;

  // logo 宽高
  --layout-logo-width: var(--layout-aside-width);
  --layout-logo-height: var(--layout-header-height);


}
