:root{
  // 主布局背景色
  --layout-main-color: #f8f8f8;
  // 标题颜色 和 悬浮显示颜色
  --title-text-color: #ffffff;
  --title-text-hover-color: #3ac8df;
  // 边框颜色
  --layout-border-color-light: #f1f2f3;

  // 左侧栏 背景
  --layout-aside-bg: #545c64;
  // 左侧栏 菜单宽度
  --layout-aside-menu-width: 200px;

  // 顶部导航条 背景
  --layout-bg-top-bar: #f8f8f8;

}
